
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background: url("/image/background.png") no-repeat center center fixed;
  background-size: cover;
  background-color: white;
}

.land {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -265px;
  width: 530px;
  height: 300px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: lighter;
  font-size: 20px;
}

.land img {
  margin: auto;
}

.land p {
  margin-top: 10px;
}

.landstats {
  display: none;
  font-weight: lighter;
  color: white;
  font-size: 25px;
  text-align: center;
  position: absolute;
  top: 85%;
  width: 100%;
  height: 50px;
}

.landtracked {
  font-weight: normal;
}


.nav-wrapper{
  background-color: rgba(0, 0, 0, 0.8);
}
.ulelement{
  text-align:center;
}
.input-field{
  float:right;
  width:300px;
}

#logo{
  margin: 0;
  padding: 0;
  position:relative;
  float:left;
}

#logo img {
  margin-top: -7px;
  height: 75px;
}

.page {
  margin-top: 60px;
  width: 100vw;
  float: left;
}

.slideContainer {
  height: 80vh;
  width: 300vw;
  position: relative;
  left: -100vw;
  margin-top:100px;
}

.prevPage {
  height: 40vh;
}

/*headers for scoreboard*/
.header1{
display:inline;
float:left;
}

#map{
  display:inline;
}

/* LIVE STAT TAB STARTS */
.livescoreboard, .statTable {
  margin: auto;
  margin-top: 5%;
  text-align: center;
  width: 50%;
  color: rgba(255, 255, 255, 0.4);;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.scoreheader tr{
  text-align:center;
}

.scoreheader {
  border-width: 0px;
}

.gameheader {

}

.matchname {
  float: left;
  font-size: 25px;
  padding-left: 2px;
}

.map {
  float: right;
  padding-right: 2px;
  font-size: 25px;
}

.table {
  border: none;
  border-radius: 0px;
}

/*scoreBoard for Terrorists*/

/*teamScore*/
.ct_score{
  text-align:center;
  color: #96BCD3;
  margin-bottom: 20px;
}

.t_score{
  text-align:center;
  color: #E8DA8F;
}

.score {
  font-size: 25px;
  float: left;
  margin-left: 10px;
}

.team_score{
  float:right;
  font-size: 20px;
}

.teamavatar {
  vertical-align: middle;
  height: 30px;
  margin-right: 10px;
}

.avatar_row {
  text-align: center;
  width: 50px;
}

.k_row, .d_row, .a_row, .kd_row, .mvp_row, .psr_row {
  width: 75px;
}

.alias_row {
  cursor: pointer;
}

.playeravatar {
  height: 30px;
  border-radius: 50%;
}
/*ct table*/
.livescoreboard .ct tr td{
  background-color: rgba(35, 61, 78, 0.8);
  color: #96BCD3;
  padding:0.5em 0.5em 0.5em 0.5em;
}

.scoremiddle {
  padding: 0;
  margin: 0;
  height: 0px;
}


/*terrorist table*/
.terrorist{
  background-color: rgba(154, 143, 111, 0.8);
  color:#E8DA8F;

}

.terrorist tr td{
  padding: 0.5em 0.5em 0.5em 0.5em;
}

td{
  border-radius: 0px;
}

.fade {
  display: none;
}

.statTable {
  background-color: rgba(0, 0, 0, 0.7);

  margin-bottom: 30px;
}

.statTable .statTableTabs {
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  border-width: 0px;
}

.mainStat {
    display: table;
    width: 100%;
}
.mainStat thead, .mainStat tbody {
    float: left;
    width: 100%;
}
.mainStat tbody {
    overflow: auto;
}

.mainStat tbody::-webkit-scrollbar {
 display: none;
}

.mainStat tr {
    width: 100%;
    display: table;
    text-align: left;
}
.mainStat th, .mainStat td {
    width: 33%;
}

#statPlayerName {
  color: #96BCD3;
  text-align: center;
}

#teamLogo{
  margin: 10px;
  height: 75px;
  float: right;
}

.playname {
  padding-top: 35px;
  font-size: 25px;
}

.mainhead, .mainhead tr th {
  background-color: rgba(0, 0, 0, 0.7);
  border-width: 0px;
}

#playerAvatar{
  border-radius: 50%;
  margin: 10px;
  height: 75px;
  float: left;
}

.mainStat tr, .mainStat td{
  background-color: rgba(35, 61, 78, 0.8);
  color: #96BCD3;
  border-width: 0px;
}
